<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../library.css">
    <link rel="stylesheet" href="../../reset.css">
    <link rel="stylesheet" href="../image/image.css">
    <title>DarkBucket</title>
    <link rel="icon" href="images/ICON.png" type="image/x-icon">


</head>

<body>
    <header>
        <nav class="nav">
            <div class="nav__left">
                <a href="../../Index.html">
                    <div class="nav__logo">
                        <img src="../../images/DARKBUCKET-title.svg" class="nav__logo">
                    </div>
                </a>
            </div>
            <div class="nav__right">
                <div class="social-media-list">
                    <ul class="social-media-list">
                        <li class="social-media-items"><a href="#"><img class="icon-height"
                                    src="../../images/Linkedin.png" alt="Linkedin"></a></li>
                        <li class="social-media-items"><a href="#"><img class="icon-height"
                                    src="../../images/github.png" alt="github"></a>
                        </li>
                        <li class="social-media-items"><a href="#"><img class="icon-height"
                                    src="../../images/twitter.png" alt="twitter"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="grid-layout">
        <!-- first page -->
        <div class="bar"></div>
        <div class="CUBE1"></div>
        <div class="CUBE2"></div>
        <div class="CUBE3"></div>
        <div class="CUBE4"></div>




        <!-- side bar starts -->
        <section class="sidebar">

            <div class="sidebar__heading">
                <h2 class="sidebar__heading-name">COMPONENTS</h2>
            </div>
            <div class="background-sidebar">
                <ul class="sidebar__links">
                    <a href="#header">
                        <li class="sidebar__links-li-active">ALERT</li>
                    </a>
                    <a href="../avatar/avatar.html">
                        <li class="sidebar__link-item">AVATAR</li>
                    </a>
                    <a href="../badge/badge.html">
                        <li class="sidebar__link-item">BADGE</li>
                    </a>
                    <a href="../button/button.html">
                        <li class="sidebar__link-item">BUTTONS</li>
                    </a>
                    <a href="../card/card.html">
                        <li class="sidebar__link-item">CARD</li>
                    </a>
                    <a href="../image/image.html">
                        <li class="sidebar__link-item">IMAGE</li>
                    </a>
                    <a href="../input/input.html">
                        <li class="sidebar__link-item">INPUTS</li>
                    </a>
                    <a href="../typography/typography.html">
                        <li class="sidebar__link-item">TYPOGRAPHY</li>
                    </a>
                    <a href="../modal/modal.html">
                        <li class="sidebar__link-item">MODAL</li>
                    </a>
                    <a href="../slider/alert.html">
                        <li class="sidebar__link-item">SLIDER</li>
                    </a>
                </ul>
            </div>

            <!-- side bar ends -->
        </section>

        <section class="content">

            <div class="content-over-bg">

                <!-- Put content here -->
                <div id="image">

                    <div class="image__heading">
                        <div class="image__heading-title">
                            <h1>Image</h1>
                        </div>
                        <div class="image__heading-subtitle">
                            <p>Images are used to show the how the product looks. Images are responsive to their
                                parent's width and can be changed according to the needs</p>
                        </div>
                    </div>

                    <div class="image__examples">
                        <div class="image__examples-des">
                            <h4>Image can be of 2 different types - Rounded Image and Responsive Image</h4>
                            <p>
                                Round Image Example → class="img-rnd"
                                <br>
                                Responsive Image Example → class="img-resp"
                            </p>
                        </div>


                        <div class="rounded-image">
                            <h2>Rounded Image</h2>
                            <p>Example → class="img-rnd"</p>

                            <div class="rounded-images__example">

                                <img src="../../images/images/badge.jpg" class="img-rnd img" alt="image1">

                                <img src="../../images/images/badge_1.jpg" class="img-rnd img" alt="image3">

                                <img src="../../images/images/badge_3.jpg" class="img-rnd img" alt="image3">
                            </div>

                            <div class="rounded-image-iframe">
                                <iframe
                                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C0%29&t=paraiso-dark&wt=none&l=css&width=1137&ds=true&dsyoff=0px&dsblur=0px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=dm&fs=16.5px&lh=154%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522..%252F..%252Fimages%252Fimages%252Fbadge.jpg%2522%2520class%253D%2522img-rnd%2520img%2522%2520alt%253D%2522image1%2522%2520%252F%253E"
                                    style="width: 1137px; height: 99px; border:0; transform: scale(1); overflow:hidden;"
                                    sandbox="allow-scripts allow-same-origin">
                                </iframe>

                            </div>
                        </div>

                        <div class="responsive-image">
                            <h2>Responsive Image</h2>
                            <p>Example → class="img-resp" <br> Try Resizing screen to see if its working</p>

                            <div class="responsive-images__example">
                                <img src="../../images/images/jc1.jpg" class="img-resp" alt="image1">
                            </div>

                            <div class="responsive-image-iframe">
                                <iframe
                                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C0%29&t=paraiso-dark&wt=none&l=css&width=1137&ds=true&dsyoff=0px&dsblur=0px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=dm&fs=16.5px&lh=154%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522..%252F..%252Fimages%252Fimages%252Fjc1.jpg%2522%2520class%253D%2522img-resp%2522%2520alt%253D%2522image1%2522%2520%252F%253E"
                                    style="width: 1137px; height: 99px; border:0; transform: scale(1); overflow:hidden;"
                                    sandbox="allow-scripts allow-same-origin">
                                </iframe>

                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-txt">
                Made by JCREA</div>
        </div>
    </footer>



</body>


</html>