<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="../image/image.css">
    <link rel="stylesheet" href="../button/button.css">
    <link rel="stylesheet" href="../typography/typography.css">
    <link rel="stylesheet" href="../library.css">
    <link rel="stylesheet" href="../../reset.css">
    <link rel="stylesheet" href="../card/card.css">
    <link rel="stylesheet" href="../input/input.css">
    <link rel="stylesheet" href="../modal/modal.css">
    <link rel="stylesheet" href="../rating/rating.css">
    <link rel="stylesheet" href="../toast/toast.css">

    <title>DarkBucket</title>
    <link rel="icon" href="images/ICON.png" type="image/x-icon">


</head>

<body>
    <header>
        <nav class="nav">
            <div class="nav__left">
                <a href="../../Index.html">
                    <div class="nav__logo">
                        <img src="../../images/DARKBUCKET-title.svg" class="nav__logo">
                    </div>
                </a>
            </div>
            <div class="nav__right">
                <div class="social-media-list">
                    <ul class="social-media-list">
                        <li class="social-media-items"><a target="_blank"
                                href="https://www.linkedin.com/in/jayesh-patil-150b60150/"><img class="icon-height"
                                    src="../../images/Linkedin.png" alt="Linkedin"></a></li>
                        <li class="social-media-items"><a target="_blank" href="https://github.com/Jayesh3636"><img
                                    class="icon-height" src="../../images/github.png" alt="github"></a>
                        </li>
                        <li class="social-media-items"><a target="_blank" href="https://twitter.com/Jayesh3636"><img
                                    class="icon-height" src="../../images/twitter.png" alt="twitter"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="grid-layout">
        <!-- first page -->
        <div class="bar"></div>
        <div class="CUBE1"></div>
        <div class="CUBE2"></div>
        <div class="CUBE3"></div>
        <div class="CUBE4"></div>




        <!-- side bar starts -->
        <section class="sidebar">

            <div class="sidebar__heading">
                <h2 class="sidebar__heading-name">COMPONENTS</h2>
            </div>
            <div class="background-sidebar">
                <ul class="sidebar__links">
                    <a href="../alert/alert.html">
                        <li class="sidebar__link-item">ALERT</li>
                    </a>
                    <a href="../avatar/avatar.html">
                        <li class="sidebar__link-item">AVATAR</li>
                    </a>
                    <a href="../badge/badge.html">
                        <li class="sidebar__link-item">BADGE</li>
                    </a>
                    <a href="../button/button.html">
                        <li class="sidebar__link-item">BUTTONS</li>
                    </a>
                    <a href="../card/card.html">
                        <li class="sidebar__link-item">CARD</li>
                    </a>
                    <a href="../image/image.html">
                        <li class="sidebar__link-item">IMAGE</li>
                    </a>
                    <a href="../input/input.html">
                        <li class="sidebar__link-item">INPUTS</li>
                    </a>
                    <a href="../typography/typography.html">
                        <li class="sidebar__link-item">TYPOGRAPHY</li>
                    </a>
                    <a href="../modal/modal.html">
                        <li class="sidebar__link-item">MODAL</li>
                    </a>
                    <a href="../slider/slider.html">
                        <li class="sidebar__link-item">SLIDER</li>
                    </a>
                    <a href="../rating/rating.html">
                        <li class="sidebar__link-item">RATING</li>
                    </a>
                    <a href="#header">
                        <li class="sidebar__links-li-active">TOAST</li>
                    </a>
                </ul>
            </div>

            <!-- side bar ends -->
        </section>

        <section class="content">

            <div class="content-over-bg">

                <!-- Put content here -->
                <div id="rating">
                    <div class="heading">
                        <div class="heading-title">
                            <h2>Rating</h2>
                        </div>
                        <div class="heading-subtitle">
                            <p class="para-lg">
                                Modals are placed above everything else in the content and prevent the page from
                                scrolling.
                                Only the close button on the modal pop-up closes it.
                            </p>
                        </div>
                    </div>
                    <div class="input__examples-des">
                        <h5>Samples</h5>
                        <div class="example-container fdr display-flex-items space-evenly">
                            <div class=" flex-items toast toast-success para-rg display-toast">
                                Saved!
                            </div>

                            <div class="flex-items toast toast-error para-rg display-toast">
                                Not Saved! Try again later.
                            </div>

                            <div class="flex-items toast toast-inform para-rg display-toast">
                                Saving to server...
                            </div>
                        </div>

                        <p class="para-rg">Saved!</p>
                        <div class="iframe">
                            <iframe
                                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C0%29&t=paraiso-dark&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=0px&dsblur=0px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522%2520flex-items%2520toast%2520toast-success%2520para-rg%2520display-toast%2522%253E%250A%2520%2520%2520%2520Saved%21%250A%253C%252Fdiv%253E"
                                style="width: 100%; height: 113px; border:0; transform: scale(1); overflow:hidden;"
                                sandbox="allow-scripts allow-same-origin">
                            </iframe>
                        </div>
                        <p class="para-rg">Not Saved!</p>
                        <div class="iframe">
                            <iframe
                                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C0%29&t=paraiso-dark&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=0px&dsblur=0px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522flex-items%2520toast%2520toast-error%2520para-rg%2520display-toast%2522%253E%250A%2520%2520%2520Not%2520Saved%21%2520Try%2520again%2520later.%250A%253C%252Fdiv%253E"
                                style="width: 100%; height: 113px; border:0; transform: scale(1); overflow:hidden;"
                                sandbox="allow-scripts allow-same-origin">
                            </iframe>
                        </div>
                        <p class="para-rg">Saving to Server!</p>
                        <div class="iframe">
                            <iframe
                                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C0%29&t=paraiso-dark&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=0px&dsblur=0px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522flex-items%2520toast%2520toast-inform%2520para-rg%2520display-toast%2522%253E%250A%2520%2520%2520%2520Saving%2520to%2520server...%250A%253C%252Fdiv%253E"
                                style="width: 100%; height: 113px; border:0; transform: scale(1); overflow:hidden;"
                                sandbox="allow-scripts allow-same-origin">
                            </iframe>
                        </div>

                        <h5>Example</h5>
                        <div class="toast toast-success para-rg" id="toast-example-success">
                            Saved!
                        </div>
                        <button class="btn btn-solid-primary show-toast-example-btn">Show Toast</button>
                        <p class="para-rg">HTML CSS for example</p>
                        <div class="iframe">
                            <iframe
                                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C0%29&t=paraiso-dark&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=0px&dsblur=0px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522toast%2520toast-success%2520para-rg%2522%2520id%253D%2522toast-example-success%2522%253E%250A%2520%2520%2520%2520Saved%21%2520%2520%2520%2520%250A%253C%252Fdiv%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-solid-primary%2520show-toast-example-btn%2522%253E%250A%2520%2520%2520%2520Show%2520Toast%2520%2520%250A%253C%252Fbutton%253E"
                                style="width: 100%; height: 169px; border:0; transform: scale(1); overflow:hidden;"
                                sandbox="allow-scripts allow-same-origin">
                            </iframe>
                        </div>
                        <p class="para-rg">JS used for the example</p>
                        <div class="iframe">
                            <iframe  src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C0%29&t=paraiso-dark&wt=none&l=javascript&width=680&ds=true&dsyoff=0px&dsblur=0px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=const%2520toastExample%2520%253D%2520document.querySelector%28%2522%2523toast-example-success%2522%29%253B%250Aconst%2520btnToShowToast%2520%253D%2520document.querySelector%28%2522.show-toast-example-btn%2522%29%253B%250A%250A%250Alet%2520timerIdForToast%253B%250AbtnToShowToast.addEventListener%28%2522click%2522%252C%2520%28%29%253D%253E%257B%250A%2520%2520%2520%2520toastExample.style.display%2520%253D%2520%2522block%2522%253B%250A%2520%2520%2520%2520timerIdForToast%2520%253D%2520setTimeout%28%28%29%253D%253E%257B%250A%2520%2520%2520%2520%2520%2520%2520%2520toastExample.style.display%2520%253D%2520%2522none%2522%253B%2520%2520%250A%2520%2520%2520%2520%257D%252C2000%29%250A%257D%29%250A"
  style="width: 100%; height: 280px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>

                        </div>

                    </div>
                </div>
        </section>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-txt">
                Made by JCREA</div>
        </div>
    </footer>

    <script src="../toast/toast.js"></script>
</body>

</html>