<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="library.css">
    <link rel="stylesheet" href="../reset.css">
    <title>DarkBucket</title>
    <link rel="icon" href="images/ICON.png" type="image/x-icon">


</head>

<body>
    <header>
        <nav class="nav">
            <div class="nav__left">
                <a href="../index.html">
                    <div class="nav__logo">
                        <img src="../images/DARKBUCKET-title.svg" class="nav__logo">
                    </div>
                </a>
            </div>
            <div class="nav__right">
                <div class="social-media-list">
                    <ul class="social-media-list">
                        <li class="social-media-items"><a href="#"><img class="icon-height" src="../images/Linkedin.png"
                                    alt="Linkedin"></a></li>
                        <li class="social-media-items"><a href="#"><img class="icon-height" src="../images/github.png"
                                    alt="github"></a>
                        </li>
                        <li class="social-media-items"><a href="#"><img class="icon-height" src="../images/twitter.png"
                                    alt="twitter"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="wrapper grid-layout">
        <!-- first page -->
<!-- side bar starts -->
        <section class="sidebar">

            <div class="sidebar__heading">
                <h2 class="sidebar__heading-name">COMPONENTS</h2>
            </div>
<div class="background-sidebar">
    <ul class="sidebar__links-ul">
                <a href="./alert/alert.html">
                    <li class="sidebar__link-item">Alert</li>
                </a>
                <a href="">
                    <li class="sidebar__link-item">Avatar</li>
                </a>
                <a href="">
                    <li class="sidebar__link-item">Badge</li>
                </a>
                <a href="">
                    <li class="sidebar__link-item">Buttons</li>
                </a>
                <a href="">
                    <li class="sidebar__link-item">Card</li>
                </a>
                <a href="">
                    <li class="sidebar__link-item">Image</li>
                </a>
                <a href="">
                    <li class="sidebar__link-item">Inputs</li>
                </a>
                <a href="">
                    <li class="sidebar__link-item">Typography</li>
                </a>
                <a href="">
                    <li class="sidebar__link-item">Modal</li>
                </a>
                <a href="">
                    <li class="sidebar__link-item">Slider</li>
                </a>
            </ul></div>
            
<!-- side bar ends -->
        </section>

       



    </main>
    <!-- <footer>
        <div class="footer-container">
            <div class="footer-txt">
                Made by JCREA</div>
        </div></footer> -->
</body>


</html>